.app-section {
  padding: 20px
}

.app-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.app-note {
  background-color: pink;
  margin-bottom: 16px;
  padding: 16px;
}

.app-edit-note {
  background-color: white;
  border: 4px;
  width: 250px;
  padding: 12px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}